/hashcode2017_streaming_videos.pdf
/kittens.in
/me_at_the_zoo.in
/videos_worth_spreading.in
/trending_today.in

/*/*.zip
/*/*.txt
/*/*.ser
/videos_worth_spreading.in_BestSolutionInProcess.ser
/me_at_the_zoo.in_BestSolutionInProcess.ser
